//header style for all pages

header {
	background-color: $tertiary;
	padding: 0 0 10px 0;

	.navBar {
		background-color: $tertiary;
		padding: 25px 0;

		.wrapper, .mobileMenu {
			display: flex;
			justify-content: center;

			.navContainer {
				display: none;
			};
			

			.navItem {
				padding-top: 10px;
			}

			.mobileButton {
				font-size: 30px;
				left: 20px;
				background: transparent;
				border: none;
				color: black;
				
			}

			.show{
				display:block;
			}

			.closeMenu {
				font-size: 30px;
				margin-top: 15px;
				left: 20px;
				background: transparent;
				border: none;
				color: white;
			}

		}

		


		.indexSophie {
			font-size: 7rem;
		}

		.mainMenu {
			display: flex;
			width: 100%;
			justify-content: space-around;

			.navItem:hover {
				border-bottom: 2px solid black;
			}

			li {
				font-family: $primaryFont;
				text-transform: uppercase;
			}
			a {
				text-decoration: none;
				color: $primary;
			}

			.logo {
				@include fontSize(40);
				padding-bottom: 10px;
			}

			.fa-solid {
				font-size: 50px;
				background-color: black;
			}
		
		}

		

		
	}

	

	

	h1 {
		text-transform: uppercase;
		line-height: 92px;
	}

	.headerContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.allAbout {
		width: 150px;
		height: 100px;
		position: relative;
		right: 50px;
		top: 10px;
	}

	.orangeEyes {
		position: relative;
		top: 90px;
		box-shadow: 20px 20px white;
	}
}
