header {
	background-color: $tertiary;

	.navBar {
		background-color: $tertiary;
		padding: 15px 0;

		.wrapper {
			display: flex;
			justify-content: center;

			.navItem {
				padding-top: 10px;
			}
		}

		.mainMenu {
			display: flex;
			width: 50%;
			justify-content: space-around;

			li {
				font-family: $primaryFont;
				text-transform: uppercase;
			}
			a {
				text-decoration: none;
				color: $primary;
			}

			.logo {
				@include fontSize(40);
				padding-bottom: 10px;
			}
		}
	}

	h1 {
		text-transform: uppercase;
		line-height: 92px;
		position: relative;
		bottom: 40px;
		right: 85px;
	}

	.headerContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: calc(100% / 2);
	}

	.allAbout {
		width: 200px;
		height: 120px;
		position: relative;
		right: 150px;
	}

	.headerImgOne {
		z-index: 5;
		position: relative;
		top: 50px;
		left: 60px;

		.orangeEyes {
			height: 600px;
			position: relative;
			right: 5px;
			box-shadow: 20px 20px white;
		}
	}
}
