.favouriteThingsContainer {
	display: flex;
	justify-content: space-between;

	.dogWindow {
		z-index: 5;
		position: relative;
		bottom: 45px;
		box-shadow: -350px 15px $senary, 20px 15px $senary;
	}

	.favouriteTextContainer {
		width: 40%;
		text-align: left;
		padding-top: 61px;
	}
}

.whereSheTravelled {
	display: flex;
	justify-content: space-between;

	.textContainerTravelled {
		width: 40%;
		text-align: right;
		position: relative;
		top: 20px;
	}

	.blueBeachChairs {
		z-index: 5;
		position: relative;
		top: 20px;
		box-shadow: 380px 20px $tertiary, 15px 20px $tertiary;
	}
}
