//sectionOne css for the index.html page

.whoIsSophie {
	background-color: $solidWhite;
	padding: 100px 100px;

	h2 {
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.firstParagraph {
		width: 70%;
	}

	.findOut {
		margin-top: 10px;
	}
}
