//Styles for all pages typography

html {
	font-size: 125%;
}

body {
	font-family: $secondaryFont;
	font-size: $baseFontSize;
	color: $primary;
}

h1 {
	font-family: $primaryFont;
	color: $primary;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-size: 80px;
	font-weight: bold;
}

h2,
h3,
h4 {
	font-family: $secondaryFont;
	color: $primary;
	margin: 0;
}

h2 {
	font-size: 42px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h3 {
	text-transform: uppercase;
	font-size: 32px;
	letter-spacing: 1px;
}

.findOut {
	text-transform: uppercase;
	font-size: $secondaryFont;
	text-align: center;
	line-height: 32px;
	letter-spacing: 1px;
	font-weight: bold;
	background-color: $quinary;
	padding: 10px 30px;
	border: none;
}

.readMore {
	text-transform: uppercase;
	font-size: $secondaryFont;
	text-align: center;
	line-height: 32px;
	letter-spacing: 1px;
	font-weight: bold;
	background-color: $quinary;
	padding: 10px 20px;
	border: none;
	margin-top: 20px;
}

.submitButton {
	text-transform: uppercase;
	font-size: $secondaryFont;
	text-align: center;
	line-height: 32px;
	letter-spacing: 1px;
	font-weight: bold;
	background-color: $quinary;
	border: none;
	margin-top: 15px;
	padding: 10px 0;
}

p {
	line-height: 32px;
	font-family: $secondaryFont;
	color: $primary;
	font-size: 20px;
	letter-spacing: 0px;
}

a {
	text-decoration: none;
}
