// fonts
$primaryFont: 'Lora';
$secondaryFont: 'Roboto';

$baseFontSize: 1rem;

// site Colors
$primary: #2c2c2c;
$secondary: #285e64;
$tertiary: #f6a823;
$quaternary: #4f4f4f;
$quinary: #05afc1;
$senary: #a82706;
$solidWhite: #f0efed;
