// Media Query for the contact.html page


	// @media (max-width: 1920px) {
	// 	header {
	// 		.hamBurgerMenu {
	// 			display: none;
	// 		}
	// 		.mobileButton, .closeMenu {
	// 			display: none;
	// 		}
	
	// 		.mobileMenu {
	// 			display: none;
	// 		}
	// 	}
		
		
	// }


@media (max-width: 1375px) {
	.info {
		.socialMedia {
			width: 30%;
		}
	}
}

@media (max-width: 1275px) {
	.info {
		.socialMedia {
			width: 25%;
			padding: 30px 30px;
		}
	}
}

@media (max-width: 1186px) {
	.info {
		.submitForm {
			width: 700px;
		}
	}
}

@media (max-width: 1110px) {
	.info {
		.submitForm {
			width: 600px;
		}
	}
}

@media (max-width: 954px) {
	.backgroundImg {
		padding: 100px 0;

		h1 {
			position: relative;
			top: 145px;
		}
	}
	.info {
		.socialMedia {
			width: 40%;
		}
		.submitForm {
			width: 500px;
		}
	}
}

@media (max-width: 924px) {
	.info {
		.submitForm {
			width: 400px;
		}
	}
}


	@media (max-width: 900px) {
		
		header {
			
			.navBar {
	
				padding: 0;
				margin: 0;
				.mainMenu {
					display: none;
					
				}
			}
	
	
			.mobileButton {
				display: block;
				margin-top: 10px;
			}
	
			.open {
				display: none;
	
			}
	
			.show{
				display:flex;
				
			}
	
			

			.mobileMenu {
				position: fixed;
				width: 100%;
			}

			.closeMenuIcon{
				display: none;
			}

	
			
			.navContainer {
				display: flex;
				justify-content: space-around;
				background-color: black;
				margin: 0;
				padding: 15px;
				font-size: 1.5rem;
				width: 100%;
				
	
				li {
					font-family: $primaryFont;
					text-transform: uppercase;
				}
	
				a {
					text-decoration: none;
					color: $primary;
					color: white;
				}
			}
			
			
		}
	}


@media (max-width: 739px) {
	.info {
		flex-direction: column;
		align-items: center;
		padding: 90px 9 150px 0;

		.socialMedia {
			width: 80%;
		}

		.submitForm {
			width: 100%;
			padding-top: 40px;
		}
	}
}

@media (max-width: 655px) {
	.backgroundImg {
		padding: 50px 0;
	}
}

@media (max-width: 577px) {
	.backgroundImg {
		padding: 0;

		h1 {
			position: relative;
			top: 195px;
			width: 100%;
			text-align: center;
		}
	}

	.info {
		padding: 240px 0 190px 0;
	}
}

@media (max-width: 320px) {
	.backgroundImg {
		background-size: contain;

		h1 {
			position: relative;
			top: 95px;
			width: 100%;
		}
	}

	.info {
		padding: 150px 0 190px 0;

		.socialMediaIcons {
			width: 100%;
		}
	}

	.closeMenuIcon{
		display: none;
	}
}
