html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  background: white;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  font-size: 125%;
}

body {
  font-family: "Roboto";
  font-size: 1rem;
  color: #2c2c2c;
}

h1 {
  font-family: "Lora";
  color: #2c2c2c;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 8rem;
  font-weight: bold;
}

h2,
h3,
h4 {
  font-family: "Roboto";
  color: #2c2c2c;
  margin: 0;
}

h2 {
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 1px;
}

.findOut {
  text-transform: uppercase;
  font-size: "Roboto";
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: #05afc1;
  padding: 10px 30px;
  border: none;
}

.readMore {
  text-transform: uppercase;
  font-size: "Roboto";
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: #05afc1;
  padding: 10px 20px;
  border: none;
  margin-top: 20px;
}

.submitButton {
  text-transform: uppercase;
  font-size: "Roboto";
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: #05afc1;
  border: none;
  margin-top: 15px;
  padding: 10px 0;
}

p {
  line-height: 32px;
  font-family: "Roboto";
  color: #2c2c2c;
  font-size: 20px;
  letter-spacing: 0px;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

header {
  background-color: #f6a823;
  padding: 0 0 10px 0;
}
header .navBar {
  background-color: #f6a823;
  padding: 25px 0;
}
header .navBar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .navBar .wrapper .navItem {
  padding-top: 10px;
}
header .navBar .mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .navBar .mainMenu li {
  font-family: "Lora";
  text-transform: uppercase;
}
header .navBar .mainMenu a {
  text-decoration: none;
  color: #2c2c2c;
}
header .navBar .mainMenu .logo {
  font-size: 40px;
  font-size: 2rem;
  padding-bottom: 10px;
}
header h1 {
  text-transform: uppercase;
  line-height: 92px;
}
header .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .allAbout {
  width: 200px;
  height: 120px;
  position: relative;
  right: 50px;
  top: 40px;
}
header .orangeEyes {
  position: relative;
  top: 90px;
  -webkit-box-shadow: 20px 20px white;
          box-shadow: 20px 20px white;
}

.whoIsSophie {
  background-color: #f0efed;
  padding: 100px 100px;
}
.whoIsSophie h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.whoIsSophie .firstParagraph {
  width: 70%;
}
.whoIsSophie .findOut {
  margin-top: 10px;
}

.favouriteThingsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.favouriteThingsContainer .dogWindow {
  z-index: 5;
  position: relative;
  bottom: 45px;
  -webkit-box-shadow: -350px 15px #a82706, 20px 15px #a82706;
          box-shadow: -350px 15px #a82706, 20px 15px #a82706;
}
.favouriteThingsContainer .favouriteTextContainer {
  width: 40%;
  text-align: left;
  padding-top: 61px;
}

.whereSheTravelled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.whereSheTravelled .textContainerTravelled {
  width: 40%;
  text-align: right;
  position: relative;
  top: 20px;
}
.whereSheTravelled .blueBeachChairs {
  z-index: 5;
  position: relative;
  top: 20px;
  -webkit-box-shadow: 380px 20px #f6a823, 15px 20px #f6a823;
          box-shadow: 380px 20px #f6a823, 15px 20px #f6a823;
}

.categories {
  padding: 110px 0 30px 0;
  background-color: #f0efed;
}

.categoryGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  width: 100%;
}
.categoryGallery .item {
  width: 45%;
  padding: 40px;
  border-radius: 10%;
  margin: 15px 0;
}
.categoryGallery .item a:hover, .categoryGallery .item a:focus {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.categoryGallery .categoryLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.categoryGallery .iconColor {
  position: relative;
  background-color: #f6a823;
  width: 10%;
  border-radius: 100%;
  margin-right: 15px;
}
.categoryGallery .icon {
  position: absolute;
  right: 14px;
  top: 10px;
}
.categoryGallery .categoryParagraph {
  text-align: left;
  padding-left: 60px;
  width: 120%;
}

.sophieJourney {
  background-color: #f0efed;
  padding: 90px 0;
}

.journeyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.journeyContainer .sophieImg {
  width: 30%;
  -webkit-box-shadow: 25px 20px #f6a823;
          box-shadow: 25px 20px #f6a823;
}
.journeyContainer .journeyTextContainer {
  width: 60%;
}
.journeyContainer .journeyTextContainer .findOut {
  position: relative;
  top: 45px;
}

.imgGallery {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery {
  width: 95%;
}

footer {
  background-color: #2c2c2c;
  position: relative;
}
footer p {
  color: white;
  text-align: center;
}

main {
  background-color: #f0efed;
}

.backgroundImg {
  background-image: url(../assets/contact-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 210px 0;
}
.backgroundImg h1 {
  font-size: 80px;
  position: relative;
  top: 255px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 0 190px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info .socialMedia {
  background-color: white;
  height: 320px;
  width: 430px;
  color: #f6a823;
  padding: 50px 50px;
}
.info .socialMediaIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}
.info .socialMediaIcons .socialIcon {
  font-size: 30px;
}
.info .email {
  margin-top: 30px;
  color: #2c2c2c;
  font-weight: bold;
}
.info .address {
  padding-top: 20px;
}
.info .submitForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 800px;
}
.info .submitForm input {
  padding: 20px 0;
}
.info .submitForm .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info .submitForm .textContainer input {
  width: 49%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  border: 0;
}
.info textarea {
  border: 0;
  border-bottom: 1px solid lightgray;
  padding: 30px 20px;
  margin-top: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer p {
  margin: 0;
  padding: 0;
}

@media (max-width: 1277px) {
  main .favouriteThingsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  main .favouriteThingsContainer .favouriteTextContainer {
    text-align: center;
    width: 100%;
    padding-bottom: 61px;
  }
  main .favouriteThingsContainer .dogWindow {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  main .whereSheTravelled {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
  main .whereSheTravelled .textContainerTravelled {
    text-align: center;
    width: 100%;
    padding-top: 61px;
  }
  main .whereSheTravelled .blueBeachChairs {
    padding-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
@media (max-width: 1145px) {
  section .journeyContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .sophieImg {
    margin-bottom: 80px;
  }
  section .sophieImg {
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  section .sophieImg:hover {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  section .journeyTextContainer {
    text-align: center;
  }
  .categories .icon {
    position: absolute;
    right: 9px;
  }
}
@media (max-width: 950px) {
  header .headerContainer {
    padding-bottom: 50px;
  }
  header .allAboutSophie {
    text-align: center;
    width: 100%;
  }
  header .allAbout {
    position: relative;
    left: 50px;
  }
  header .headerImgOne {
    display: none;
  }
  .whoIsSophie {
    text-align: center;
  }
}
@media (max-width: 800px) {
  .categories .iconColor {
    width: 13%;
  }
  .categories .icon {
    position: absolute;
    right: 9px;
  }
}